.root {

}
.background {
    -fx-background-color: #CCCCFF;
}
.checkedBox{
    -fx-text-fill: #000066;
    -fx-font-size: 15px;
}
.uncheckedBox{

}
.title{
    -fx-text-fill: #000066;
    -fx-font-size: 20px;

}
.axis{

}
#lchart{
    -fx-background-color: #CCCCFF;


}
.labels{
    -fx-border-color: #000066;
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-background-color: #CCCCFF;
}


